# MySQL database connection
DB_USER=root
DB_PASSWORD=root123
DB_HOST=127.0.0.1
DB_NAME=skill_swap_db

# JWT
JWT_SECRET_KEY=change-this-to-a-long-random-secret
JWT_ACCESS_TOKEN_EXPIRES_MINUTES=1440

# Flask
FLASK_DEBUG=True

# Default admin account (created on first run if missing)
ADMIN_EMAIL=admin@skillswap.com
ADMIN_PASSWORD=admin123
ADMIN_NAME=Platform Admin
